html,body{
    
        min-width: 500px;
        
   
    width: 100%;
    overflow-x: hidden;
}

#footer {


    background-color: #373338;
    color: #ffffff;
}
#footer section{
    color: #B8A3F7;
}

#card a {
    background-color: #8059F5;
    color: #ffffff;
    
}

.navbar  {
    background-color: #8059F5; 
  
}

.navbar a {
 background-color:#8059F5;
  color: #ffff;
  
}



